
.main-menu{
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    transition: background-color 1s ease;
}

.main-menu li{
    border-left: 1px solid #fff;
    margin: 0px;
    padding: 10px 20px;
    list-style-type: none;
}

.main-menu li a{
    color: white;
    display: block;
    text-decoration: none;
    transition: margin 0.5s ease;
}

.main-menu li a:hover{
    margin: 10px;
}

.main {
    display: grid;
    grid-template-areas:
        "header"
        "import-now"
        "models"
        "about-us"
        "footer";
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    background-color: #333;
}
.import-now{
    grid-area: import-now;
    background-color: aquamarine;
}
.about-us{
    grid-area: about-us;
    background-color: antiquewhite;
}
.footer {
    grid-area: footer;
    background-color: aqua;
}
.models {
    grid-area: models;
    background-color: aliceblue;
}
.header h1 {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
