.main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "import-now"
        "models"
        "about-us"
        "footer";
    gap: 10px;
    background-color: whitesmoke;
}

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    min-height: 6vh;
    background-color: black;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url('img/GLE.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 50vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header h1 {
    font-size: 2em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 5em;
    margin: 0px;
    padding: 10px;
}
.header p{
    font-size: 1.5em;
    color: white;
    margin: 0px;
    padding: 10px;
}

.main-menu{
    display: flex;
    margin: 0px;
    padding: 0px;
    transition: background-color 1s ease;
}

.main-menu li{
    margin: 0px;
    padding: 10px 20px;
    list-style-type: none;
    transition: margin 0.5s ease;
}

.main-menu li a{
    color: white;
    display: block;
    ;
    text-decoration: none;
    
}

.import-now{
    grid-area: import-now;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}



.import-now div a{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    height: 5vh;
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none;
}
.import-now div a:hover{
    background-color: white;
    color: black;
}

.models {
    padding-left: 10vh;
    padding-right: 10vh;
    grid-area: models;
    display: block;
    margin: 10px;
}

.models div{
    display: flex;
    flex-direction: column;
}

.models article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.models article img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.models article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.models article div h3{
    color: black;
    font-size: 2em;
    margin: 0px;
    padding: 10px;
}

.models article div p{
    color: black;
    font-size: 1.5em;
    margin: 0px;
    padding: 10px;
}

.models article div a{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none;
}
.model-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    max-width: 25rem;
}
.about-us{
    grid-area: about-us;
}

.about-us div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}


.footer {
    grid-area: footer;
}